{% extends 'reader/base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col">
    <p class="lead">{{ intro }}</p>
    <p>{{ desc }}</p>
    <form method="post" action="{% url 'readings' %}">
        {% csrf_token %}
        <p>{{ choose }}</p>
        <div>
            <input type="radio" id="cardNum1" name="spread" value="1">
            <label for="cardNum1">{{ card1 }}</label>

            <input type="radio" id="cardNum3" name="spread" value="3">
            <label for="cardNum3">{{ card3 }}</label>

            <input type="radio" id="cardNum6" name="spread" value="6">
            <label for="cardNum3">{{ card6 }}</label>
        </div>
        <div>
            <p><input type="submit" value="{{ button }}"></p>
        </div>
    </form>
  </div>
</div>
{% endblock %}
